<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <title>Sua Página Inicial</title>

</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-primary" role="alert">
            <h1 class="display-4">FLUXOGRAMAS</h1>
            <hr class="my-4">

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Pesquisa" id="pesquisaInput">
            </div>

            <div class="row" id="blocosContainer">
                {% for fluxograma in fluxogramas %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ fluxograma.nome }}</h5>
                                <p class="card-text">{{ fluxograma.descricao }}</p>
                                <a href="{{ fluxograma.link }}" class="btn btn-primary" target="_blank">Link</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('#pesquisaInput').on('input', function () {
                var termoPesquisa = $(this).val().toLowerCase();
                $('#blocosContainer .card').each(function () {
                    var textoBloco = $(this).text().toLowerCase();
                    if (textoBloco.includes(termoPesquisa)) {
                        $(this).parent().show();
                    } else {
                        $(this).parent().hide();
                    }
                });
            });
        });
    </script>
</body>
</html>
